<h2>Lista de Feriados</h2>

<table border="1">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for feriado in feriados %}
        <tr>
            <td>{{ feriado.nome }}</td>
            <td>{{ feriado.dia }}/{{ feriado.mes }}</td>
            <td>
                <a href="{% url 'atualizar_feriado' feriado.id %}">Editar</a> |
                <a href="{% url 'deletar_feriado' feriado.id %}">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum feriado cadastrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'add_feriado' %}">Adicionar novo feriado</a>
